In [3]:
# Dependencies
import pandas as pd
import glob
import datetime

In [3]:
# Merging citibike_trip csv files (without repeating header)
citibike_trip_files = glob.glob("citibike_trip/*.csv") 
citibike_trip_df = pd.concat((pd.read_csv(f, header = 0) for f in citibike_trip_files))

In [4]:
citibike_trip_df

NameError: name 'citibike_trip_df' is not defined

In [5]:
# Add new column extracting month_year for further analysis 
citibike_trip_df['month_year'] = pd.to_datetime(citibike_trip_df['starttime']).dt.to_period('M')
citibike_trip_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,month_year
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1,2018-01
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2,2018-01
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1,2018-01
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1,2018-01
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1,2018-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20200,1081,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694,Jackson Square,40.711130,-74.078900,3269,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1,2018-12
20201,344,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2,2018-12
20202,1233,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694,Jackson Square,40.711130,-74.078900,3186,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1,2018-12
20203,1057,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694,Jackson Square,40.711130,-74.078900,3213,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2,2018-12
20204,301,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694,Jackson Square,40.711130,-74.078900,3277,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1,2018-12

In [13]:
# Reset Index
citibike_trip_df = citibike_trip_df.reset_index(drop=True)
citibike_trip_df.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,month_year
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1,2018-01
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2,2018-01
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1,2018-01
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1,2018-01
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1,2018-01
5,613,2018-01-01 22:05:05.8740,2018-01-01 22:15:19.4190,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,31859,Subscriber,1982,1,2018-01
6,290,2018-01-02 12:13:51.7940,2018-01-02 12:18:42.1070,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31694,Subscriber,1958,1,2018-01
7,381,2018-01-02 12:50:03.3430,2018-01-02 12:56:24.6440,3183,Exchange Place,40.716247,-74.033459,3205,JC Medical Center,40.716540,-74.049638,31754,Subscriber,1989,2,2018-01
8,318,2018-01-02 13:55:58.2430,2018-01-02 14:01:16.8810,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,31816,Subscriber,1960,1,2018-01
9,1852,2018-01-02 16:55:29.6390,2018-01-02 17:26:22.3050,3183,Exchange Place,40.716247,-74.033459,3281,Leonard Gordon Park,40.745910,-74.057271,31754,Subscriber,1976,1,2018-01

In [16]:
# Export citibike_trip_df file as a CSV
citibike_trip_df.to_csv("2018_citibike_trip_history_report.csv")

In [5]:
citibike_trip_history_df = pd.read_csv("citibike_trip/2018_citibike_trip_history_report.csv")
trips_df = citibike_trip_history_df.groupby(['start station name','end station name']).size().reset_index(name = 'number of trips')

In [6]:
trips_df

     start station name       end station name  number of trips
0     5 Corners Library      5 Corners Library              104
1     5 Corners Library            Astor Place               18
2     5 Corners Library  Baldwin at Montgomery               40
3     5 Corners Library             Bergen Ave                6
4     5 Corners Library        Brunswick & 6th               14
...                 ...                    ...              ...
2697            York St         Van Vorst Park              137
2698            York St    W 113 St & Broadway                1
2699            York St              Warren St              140
2700            York St          Washington St               51
2701            York St                York St              108

[2702 rows x 3 columns]

In [7]:
# Export trips_df file as a CSV
trips_df.to_csv("citibike_trip/2018_citibike_popular_trips_report.csv")

In [6]:
# Merging citibike_ridership csv files (without repeating header)
citibike_ridership_files = glob.glob("citibike_ridership/*.csv") 
citibike_ridership_df = pd.concat((pd.read_csv(f, header = 0) for f in citibike_ridership_files))

In [ ]:
# Add new column extracting month_year for further analysis 
citibike_ridership_df['month_year'] = pd.to_datetime(citibike_ridership_df['starttime']).dt.to_period('M')

In [14]:
citibike_ridership_df.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm),month_year
0,1/1/2018,5499,11483,253490,123,7,2018-01
1,1/2/2018,18818,39352,253558,125,12,2018-01
2,1/3/2018,24299,42853,253591,164,4,2018-01
3,1/4/2018,1922,5328,253604,2,1,2018-01
4,1/5/2018,4972,14303,253614,14,0,2018-01

In [15]:
# Reset Index
citibike_ridership_df = citibike_ridership_df.reset_index(drop=True)
citibike_ridership_df.head(10)

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm),month_year
0,1/1/2018,5499,11483,253490,123,7,2018-01
1,1/2/2018,18818,39352,253558,125,12,2018-01
2,1/3/2018,24299,42853,253591,164,4,2018-01
3,1/4/2018,1922,5328,253604,2,1,2018-01
4,1/5/2018,4972,14303,253614,14,0,2018-01
5,1/6/2018,4294,9479,253624,9,2,2018-01
6,1/7/2018,5640,9387,253640,41,4,2018-01
7,1/8/2018,15820,31294,253661,45,4,2018-01
8,1/9/2018,25090,50981,253690,112,17,2018-01
9,1/10/2018,28252,50218,253720,142,18,2018-01

In [17]:
# Export citibike_ridership_df file as a CSV
citibike_ridership_df.to_csv("citibike_ridership/2018_citibike_ridership_report.csv")